# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Misc
.DS_Store
*.pem

# Debug
*.log*

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo
